In [2]:
import pandas as pd
import os
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [1]:
os.listdir("./data")

['MPRAGEMETA.csv', 'ADNI1_Complete_1Yr_1.5T_1_23_2021.csv', 'MRIMETA.csv']

# MRI Metadata Analysis - MP-RAGE

MP-RAGE are pre-processed MRI images

In [3]:
df_mri = pd.read_csv("./data/MPRAGEMETA.csv")
df_mri.shape

(37315, 9)

In [4]:
df_mri

,Orig/Proc,SubjectID,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
0,Original,037_S_1421,ADNI Screening,1.5,MP-RAGE REPEAT,2007-08-27,11613,38601,70854
1,Original,037_S_1421,ADNI Screening,1.5,MP-RAGE,2007-08-27,11613,38602,70855
2,Original,037_S_1421,ADNI1/GO Month 6,1.5,MP-RAGE-Repeat,2008-02-20,14713,45955,91145
3,Original,037_S_1421,ADNI1/GO Month 6,1.5,MP-RAGE,2008-02-20,14713,45956,91146
4,Original,037_S_1421,ADNI1/GO Month 12,1.5,MP-RAGE-Repeat,2008-09-17,17750,56559,118124
...,...,...,...,...,...,...,...,...,...
37310,Processed,037_S_6046,ADNI Screening,3.0,MT1; N3m,2017-07-17,113078,583899,882757
37311,Processed,067_S_6045,ADNI Screening,3.0,MT1; N3m,2017-07-13,113046,583463,882761
37312,Processed,941_S_6052,ADNI Screening,3.0,MT1; N3m,2017-07-20,113211,585807,882756
37313,Processed,168_S_6051,ADNI Screening,3.0,MT1; N3m,2017-07-13,113082,583955,882727
37314,Processed,002_S_6053,ADNI Screening,3.0,MT1; N3m,2017-07-18,113332,586900,882769

In [5]:
df_mri['Visit'].unique()

array(['ADNI Screening', 'ADNI1/GO Month 6', 'ADNI1/GO Month 12',
       'ADNI1/GO Month 18', 'ADNI1/GO Month 36', 'ADNI1/GO Month 24',
       'ADNI2 Initial Visit-Cont Pt', 'ADNI2 Year 1 Visit',
       'ADNI2 Year 2 Visit', 'ADNI2 Year 3 Visit', 'ADNI2 Year 5 Visit',
       'ADNI3 Initial Visit-Cont Pt', 'ADNI3 Year 1 Visit',
       'ADNI3 Year 2 Visit', 'ADNI1/GO Month 48', 'ADNI Baseline',
       'ADNI2 Year 4 Visit', 'ADNIGO Month 60', 'ADNIGO Month 72',
       'Unscheduled', 'ADNI3 Year 3 Visit', 'No Visit Defined',
       'ADNIGO Screening MRI', 'ADNIGO Month 3 MRI',
       'ADNI2 Screening MRI-New Pt', 'ADNI2 Month 3 MRI-New Pt',
       'ADNI2 Month 6-New Pt', 'ADNI3 Year 4 Visit',
       'ADNI2 Tau-only visit', 'ADNI2 Screening-New Pt'], dtype=object)

In [9]:
adnis = ['ADNI Screening','ADNIGO Screening MRI','ADNI2 Screening-New Pt','ADNI Baseline']
df_mri.query("Visit in @adnis")

,Orig/Proc,SubjectID,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
0,Original,037_S_1421,ADNI Screening,1.5,MP-RAGE REPEAT,2007-08-27,11613,38601,70854
1,Original,037_S_1421,ADNI Screening,1.5,MP-RAGE,2007-08-27,11613,38602,70855
10,Original,127_S_1427,ADNI Screening,1.5,MP-RAGE,2007-08-20,11182,37933,69355
11,Original,127_S_1427,ADNI Screening,1.5,MP-RAGE REPEAT,2007-08-20,11182,37934,69356
35,Original,027_S_1213,ADNI Screening,1.5,MP-RAGE REPEAT,2007-01-19,6823,25492,37392
...,...,...,...,...,...,...,...,...,...
37310,Processed,037_S_6046,ADNI Screening,3.0,MT1; N3m,2017-07-17,113078,583899,882757
37311,Processed,067_S_6045,ADNI Screening,3.0,MT1; N3m,2017-07-13,113046,583463,882761
37312,Processed,941_S_6052,ADNI Screening,3.0,MT1; N3m,2017-07-20,113211,585807,882756
37313,Processed,168_S_6051,ADNI Screening,3.0,MT1; N3m,2017-07-13,113082,583955,882727
37314,Processed,002_S_6053,ADNI Screening,3.0,MT1; N3m,2017-07-18,113332,586900,882769

In [23]:
df_mri.query("`Orig/Proc` == 'Processed'")["Sequence"].unique()

array(['MPR; GradWarp; N3; Scaled', 'MPR-R; GradWarp; N3; Scaled',
       'MPR; GradWarp; B1 Correction; N3; Scaled', 'MT1; N3m',
       'MT1; GradWarp; N3m', 'MPR-R; GradWarp; B1 Correction; N3; Scaled',
       'MPR; ; N3; Scaled', 'MPR; ; N3; Scaled_2',
       'MPR-R; GradWarp; B1 Correction; N3; Scaled_2',
       'MPR; GradWarp; B1 Correction; N3; Scaled_2',
       'MPR-R; ; N3; Scaled', 'MPR-R; ; N3; Scaled_2',
       'MPR; GradWarp; N3; Scaled_2', 'MPR-R; GradWarp; N3; Scaled_2',
       'MPR; ; N3; Scaled; No phantom for scaling'], dtype=object)

In [24]:
df_mri.query("SubjectID == '037_S_1421'")

,Orig/Proc,SubjectID,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
0,Original,037_S_1421,ADNI Screening,1.5,MP-RAGE REPEAT,2007-08-27,11613,38601,70854
1,Original,037_S_1421,ADNI Screening,1.5,MP-RAGE,2007-08-27,11613,38602,70855
2,Original,037_S_1421,ADNI1/GO Month 6,1.5,MP-RAGE-Repeat,2008-02-20,14713,45955,91145
3,Original,037_S_1421,ADNI1/GO Month 6,1.5,MP-RAGE,2008-02-20,14713,45956,91146
4,Original,037_S_1421,ADNI1/GO Month 12,1.5,MP-RAGE-Repeat,2008-09-17,17750,56559,118124
5,Original,037_S_1421,ADNI1/GO Month 12,1.5,MP-RAGE,2008-09-17,17750,56560,118125
6,Original,037_S_1421,ADNI1/GO Month 18,1.5,MP-RAGE,2009-05-13,21352,67237,143718
7,Original,037_S_1421,ADNI1/GO Month 18,1.5,MP-RAGE-Repeat,2009-05-13,21352,67238,143719
8,Original,037_S_1421,ADNI1/GO Month 36,1.5,MP-RAGE-Repeat,2010-09-24,29085,92604,193596
9,Original,037_S_1421,ADNI1/GO Month 36,1.5,MP-RAGE,2010-09-24,29085,92610,193604
21707,Processed,037_S_1421,ADNI Screening,1.5,MPR; GradWarp; N3; Scaled,2007-08-27,11613,38602,79948
21708,Processed,037_S_1421,ADNI1/GO Month 6,1.5,MPR; GradWarp; N3; Scaled,2008-02-20,14713,45956,94525
21709,Processed,037_S_1421,ADNI1/GO Month 12,1.5,MPR; GradWarp; N3; Scaled,2008-09-17,17750,56560,121637
21710,Processed,037_S_1421,ADNI1/GO Month 18,1.5,MPR; GradWarp; N3; Scaled,2009-05-13,21352,67237,149807
21711,Processed,037_S_1421,ADNI1/GO Month 36,1.5,MPR-R; GradWarp; N3; Scaled,2010-09-24,29085,92604,203713

In [27]:
df_mri.query("SubjectID == '027_S_1213'")

,Orig/Proc,SubjectID,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
35,Original,027_S_1213,ADNI Screening,1.5,MP-RAGE REPEAT,2007-01-19,6823,25492,37392
36,Original,027_S_1213,ADNI Screening,1.5,MP-RAGE,2007-01-19,6823,25493,37393
37,Original,027_S_1213,ADNI1/GO Month 6,1.5,MP-RAGE,2007-07-20,9883,35523,61166
38,Original,027_S_1213,ADNI1/GO Month 6,1.5,MP-RAGE REPEAT,2007-07-20,9883,35525,61168
39,Original,027_S_1213,ADNI1/GO Month 12,1.5,MP-RAGE,2008-01-16,14330,44649,87709
40,Original,027_S_1213,ADNI1/GO Month 12,1.5,MP-RAGE REPEAT,2008-01-16,14330,44650,87710
41,Original,027_S_1213,ADNI1/GO Month 18,1.5,MP-RAGE,2008-07-28,17122,54404,114739
42,Original,027_S_1213,ADNI1/GO Month 18,1.5,MP-RAGE,2008-07-28,17122,54405,114740
43,Original,027_S_1213,ADNI1/GO Month 18,1.5,MP-RAGE REPEAT,2008-07-28,17122,54406,114741
44,Original,027_S_1213,ADNI1/GO Month 24,1.5,MP-RAGE,2009-01-26,19531,62260,134499
45,Original,027_S_1213,ADNI1/GO Month 24,1.5,MP-RAGE REPEAT,2009-01-26,19531,62261,134500
21731,Processed,027_S_1213,ADNI Screening,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-01-19,6823,25492,47223
21732,Processed,027_S_1213,ADNI1/GO Month 6,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2007-07-20,9883,35523,73101
21733,Processed,027_S_1213,ADNI1/GO Month 12,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2008-01-16,14330,44650,94453
21734,Processed,027_S_1213,ADNI1/GO Month 18,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2008-07-28,17122,54405,121776
21735,Processed,027_S_1213,ADNI1/GO Month 24,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2009-01-26,19531,62261,135240

In [26]:
df_mri.query("Sequence == 'MPR-R; GradWarp; B1 Correction; N3; Scaled'")

,Orig/Proc,SubjectID,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
21731,Processed,027_S_1213,ADNI Screening,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-01-19,6823,25492,47223
21733,Processed,027_S_1213,ADNI1/GO Month 12,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2008-01-16,14330,44650,94453
21735,Processed,027_S_1213,ADNI1/GO Month 24,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2009-01-26,19531,62261,135240
21744,Processed,037_S_1225,ADNI Baseline,2.9,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-02-09,7034,26187,79943
21746,Processed,037_S_1225,ADNI1/GO Month 6,3.0,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-08-20,11158,37876,74315
...,...,...,...,...,...,...,...,...,...
28680,Processed,022_S_1394,ADNI Screening,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-05-29,9505,34317,68082
28681,Processed,022_S_1394,ADNI1/GO Month 6,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-12-14,14113,44027,87027
28696,Processed,041_S_1418,ADNI Screening,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-07-27,10385,36524,73642
28712,Processed,127_S_1419,ADNI1/GO Month 12,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2008-08-22,17491,55777,121684
28721,Processed,041_S_1420,ADNI Screening,1.5,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-09-24,12279,39953,79627

In [29]:
df_mri_processed = df_mri.query("`Orig/Proc` == 'Processed'")
df_mri_processed

,Orig/Proc,SubjectID,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
21707,Processed,037_S_1421,ADNI Screening,1.5,MPR; GradWarp; N3; Scaled,2007-08-27,11613,38602,79948
21708,Processed,037_S_1421,ADNI1/GO Month 6,1.5,MPR; GradWarp; N3; Scaled,2008-02-20,14713,45956,94525
21709,Processed,037_S_1421,ADNI1/GO Month 12,1.5,MPR; GradWarp; N3; Scaled,2008-09-17,17750,56560,121637
21710,Processed,037_S_1421,ADNI1/GO Month 18,1.5,MPR; GradWarp; N3; Scaled,2009-05-13,21352,67237,149807
21711,Processed,037_S_1421,ADNI1/GO Month 36,1.5,MPR-R; GradWarp; N3; Scaled,2010-09-24,29085,92604,203713
...,...,...,...,...,...,...,...,...,...
37310,Processed,037_S_6046,ADNI Screening,3.0,MT1; N3m,2017-07-17,113078,583899,882757
37311,Processed,067_S_6045,ADNI Screening,3.0,MT1; N3m,2017-07-13,113046,583463,882761
37312,Processed,941_S_6052,ADNI Screening,3.0,MT1; N3m,2017-07-20,113211,585807,882756
37313,Processed,168_S_6051,ADNI Screening,3.0,MT1; N3m,2017-07-13,113082,583955,882727
37314,Processed,002_S_6053,ADNI Screening,3.0,MT1; N3m,2017-07-18,113332,586900,882769

In [36]:
df_mri_processed_single_image = df_mri_processed.sort_values(["SubjectID",'ScanDate']).groupby('SubjectID').first().reset_index()
df_mri_processed_single_image

,SubjectID,Orig/Proc,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
0,002_S_0295,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-04-18,3566,13408,45108
1,002_S_0413,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-05-02,3697,13893,45117
2,002_S_0559,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-05-23,3978,14875,40674
3,002_S_0619,Processed,ADNI Screening,1.5,MPR-R; GradWarp; N3; Scaled,2006-06-01,4059,15145,48617
4,002_S_0685,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-07-06,4374,16309,40683
...,...,...,...,...,...,...,...,...,...
1837,941_S_4764,Processed,ADNI2 Screening MRI-New Pt,3.0,MT1; GradWarp; N3m,2012-06-01,46262,152506,312638
1838,941_S_5124,Processed,ADNI2 Screening MRI-New Pt,3.0,MT1; GradWarp; N3m,2013-04-09,57765,186455,368981
1839,941_S_5193,Processed,ADNI2 Screening MRI-New Pt,3.0,MT1; GradWarp; N3m,2013-05-29,58947,190909,375627
1840,941_S_6017,Processed,ADNI Screening,3.0,MT1; N3m,2017-05-17,111355,565427,882726
1841,941_S_6052,Processed,ADNI Screening,3.0,MT1; N3m,2017-07-20,113211,585807,882756

In [37]:
df_mri_processed_single_image['Sequence'].unique()

array(['MPR; GradWarp; B1 Correction; N3; Scaled',
       'MPR-R; GradWarp; N3; Scaled',
       'MPR-R; GradWarp; B1 Correction; N3; Scaled', 'MT1; N3m',
       'MT1; GradWarp; N3m', 'MPR; GradWarp; N3; Scaled',
       'MPR; ; N3; Scaled', 'MPR-R; ; N3; Scaled',
       'MPR; GradWarp; B1 Correction; N3; Scaled_2',
       'MPR-R; ; N3; Scaled_2'], dtype=object)

In [60]:
mprage_image_ids = df_mri_processed_single_image['ImageUID']
str(mprage_image_ids[:100].tolist())

'[45108, 45117, 40674, 48617, 40683, 40708, 40717, 40731, 40980, 40744, 40754, 40817, 40831, 40845, 62377, 64037, 60056, 221959, 222697, 222705, 250649, 255409, 258694, 258686, 260229, 260237, 260241, 261069, 261067, 261073, 280562, 285129, 286639, 297035, 312646, 312847, 349888, 374467, 379928, 384094, 882769, 52781, 62589, 53390, 52776, 73506, 52821, 52816, 53395, 52799, 52790, 235638, 244937, 1293300, 254756, 250665, 255423, 255415, 263742, 272720, 278119, 278123, 277673, 288883, 291888, 300940, 321337, 321341, 322305, 327046, 326633, 392270, 392272, 392288, 392426, 392428, 392430, 72128, 54686, 32855, 32891, 32875, 32681, 32644, 32653, 32672, 32667, 74591, 74609, 60406, 60417, 242887, 254768, 258625, 306746, 337582, 351980, 369214, 55925, 65566]'

In [49]:
df_mri_processed_single_image.query("ImageUID == '34325'")

,SubjectID,Orig/Proc,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
563,027_S_0116,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-01-27,3008,11442,34325

# MRI Metadata Analysis - 1.5T

In [15]:
df_mri_15T = pd.read_csv("./data/MRI_1.5T_images_info.csv")
df_mri_15T.shape

(4734, 46)

In [18]:
df_mri_15T

,PHASE,FIELD_STRENGTH,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,RECNO,MMCONDCT,MMREASON,MMOTHSPE,EXAMDATE,SEDATIVE,EYEASK,EYEKEEP,MOTION,MOTIONDET,MALFUNC,MALFUNCDET,OTRDEV,OTRDEVDET,MMSCOUT,MMSCTCOM,MMSMPRAGE,MMSMPCOM,MMRMPRAGE,MMRMPCOM,MMB1HEAD,MMB1HDCOM,MMB1BODY,MMB1BDCOM,MMECHO,MMECCOM,MMPHAN,MMPHCOM,MMTRNSFR,MMTRNDATE,MMTRNCOM,MMARCHIVE,MMARCMED,MMARCCOM,MMLPDONE,MMLPINTER,update_stamp
0,ADNI1,1.5T,10,2,107,sc,sc,2005-08-31,NaN,1.0,-4,-4.0,-4,2005-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,8/30/2005,computer server infected with virus unable to ...,1.0,CD,-4,-4.0,-4.0,2005-08-31 00:00:00.0
1,ADNI1,1.5T,12,3,107,sc,sc,2005-09-02,NaN,1.0,-4,-4.0,-4,2005-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,9/1/2005,-4,1.0,CD,-4,-4.0,-4.0,2005-09-02 00:00:00.0
2,ADNI1,1.5T,14,5,107,sc,sc,2005-09-02,NaN,1.0,-4,-4.0,-4,2005-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,Add slices toS6-TR/TE remain unchanged,1.0,-4,1.0,9/2/2005,-4,1.0,CD,-4,-4.0,-4.0,2005-09-02 00:00:00.0
3,ADNI1,1.5T,16,7,10,sc,sc,2005-09-14,NaN,1.0,-4,-4.0,-4,2005-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,9/13/2005,-4,1.0,CD and PACS,-4,-4.0,-4.0,2005-09-14 00:00:00.0
4,ADNI1,1.5T,18,8,107,sc,sc,2005-09-14,NaN,1.0,-4,-4.0,-4,2005-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,Repeated a series 7 head coil was left on,1.0,-4,1.0,-4,1.0,9/13/2005,-4,1.0,CD,-4,-4.0,-4.0,2005-09-14 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4729,ADNI2,1.5T,11014,4343,50,v41,m48,02/21/2019,NaN,1.0,1,NaN,-4,2015-12-04,0.0,NaN,NaN,0.0,-4,0.0,-4,0.0,-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12/04/2015,-4,1.0,pacs,-4,0.0,NaN,2019-02-21 19:49:04.0
4730,ADNI3,1.5T,20457,4028,27,init,m72,2017-11-09,2017-11-09,NaN,1,NaN,NaN,2017-11-06,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,PACS,NaN,0.0,NaN,2017-11-09 22:29:03.0
4731,ADNI3,1.5T,30153,2121,37,init,m84,2018-02-15,2019-08-09,NaN,1,NaN,NaN,2018-02-12,0.0,NaN,NaN,1.0,HI-RES hippocampus repeated due to motion,0.0,NaN,1.0,JM 6APR2018; scan erroneously completed on 1.5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2018-xx-xx,"scan uploaded in march, date unknown",1.0,Medicalis PACS System; CD,JM 9AUG2019 MRI was erroneously not uploaded w...,0.0,NaN,2019-08-10 04:14:18.0
4732,ADNI3,1.5T,63391,6170,51,sc,sc,2018-09-25,2018-09-25,NaN,1,NaN,NaN,2018-05-14,1.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2018-05-17,NaN,1.0,PACS,NaN,0.0,NaN,2018-09-25 22:42:06.0
4733,ADNI3,1.5T,103787,6837,9,sc,sc,2019-12-02,2019-12-02,NaN,1,NaN,NaN,2019-11-27,0.0,NaN,NaN,0.0,NaN,0.0,NaN,1.0,Dustin spoke w/ Lauren; scans not performed PS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2019-11-27,NaN,1.0,PACS,NaN,0.0,NaN,2019-12-03 04:16:09.0

In [21]:
df_mri_15T['MMRMPRAGE'].unique()

array([ 1., -4.,  0., nan])

In [22]:
df_mri_15T['MMSMPRAGE'].unique()

array([ 1.,  0., -4., nan])

In [54]:
df_mri_processed_single_image.head()

,SubjectID,Orig/Proc,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
0,002_S_0295,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-04-18,3566,13408,45108
1,002_S_0413,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-05-02,3697,13893,45117
2,002_S_0559,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-05-23,3978,14875,40674
3,002_S_0619,Processed,ADNI Screening,1.5,MPR-R; GradWarp; N3; Scaled,2006-06-01,4059,15145,48617
4,002_S_0685,Processed,ADNI Screening,1.5,MPR; GradWarp; B1 Correction; N3; Scaled,2006-07-06,4374,16309,40683

In [57]:
df_mri.query("SubjectID == '002_S_0295' and MagStrength == 1.5 and `Orig/Proc` == 'Original'")

,Orig/Proc,SubjectID,Visit,MagStrength,Sequence,ScanDate,StudyID,SeriesID,ImageUID
3339,Original,002_S_0295,ADNI Screening,1.5,MP-RAGE REPEAT,2006-04-18,3566,13407,13721
3340,Original,002_S_0295,ADNI Screening,1.5,MP-RAGE,2006-04-18,3566,13408,13722
3341,Original,002_S_0295,ADNI1/GO Month 6,1.5,MP-RAGE REPEAT,2006-11-02,5726,21855,28560
3342,Original,002_S_0295,ADNI1/GO Month 6,1.5,MP-RAGE,2006-11-02,5726,21856,28561
3343,Original,002_S_0295,ADNI1/GO Month 12,1.5,MP-RAGE,2007-05-25,9011,32678,55275
3344,Original,002_S_0295,ADNI1/GO Month 12,1.5,MP-RAGE REPEAT,2007-05-25,9011,32679,55276
3345,Original,002_S_0295,ADNI1/GO Month 24,1.5,MP-RAGE REPEAT,2008-07-23,17039,54060,114209
3346,Original,002_S_0295,ADNI1/GO Month 24,1.5,MP-RAGE,2008-07-23,17039,54061,114210
3347,Original,002_S_0295,ADNI1/GO Month 36,1.5,MP-RAGE,2009-05-22,21447,67612,144446
3348,Original,002_S_0295,ADNI1/GO Month 36,1.5,MP-RAGE,2009-05-22,21447,67613,144447
3349,Original,002_S_0295,ADNI1/GO Month 48,1.5,MP-RAGE,2010-05-13,26576,84944,173732
3350,Original,002_S_0295,ADNI1/GO Month 48,1.5,MP-RAGE REPEAT,2010-05-13,26576,84948,173739

In [52]:
df_mri_15T.query("RID == 295")

,PHASE,FIELD_STRENGTH,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,RECNO,MMCONDCT,MMREASON,MMOTHSPE,EXAMDATE,SEDATIVE,EYEASK,EYEKEEP,MOTION,MOTIONDET,MALFUNC,MALFUNCDET,OTRDEV,OTRDEVDET,MMSCOUT,MMSCTCOM,MMSMPRAGE,MMSMPCOM,MMRMPRAGE,MMRMPCOM,MMB1HEAD,MMB1HDCOM,MMB1BODY,MMB1BDCOM,MMECHO,MMECCOM,MMPHAN,MMPHCOM,MMTRNSFR,MMTRNDATE,MMTRNCOM,MMARCHIVE,MMARCMED,MMARCCOM,MMLPDONE,MMLPINTER,update_stamp
228,ADNI1,1.5T,470,295,101,sc,sc,2006-04-19,NaN,1.0,-4,-4.0,-4,2006-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,Not sure if we got enough coverage superiorall...,1.0,-4,1.0,4/18/2006,-4,1.0,CD,-4,-4.0,-4.0,2006-04-19 00:00:00.0
785,ADNI1,1.5T,1594,295,101,m06,m06,2006-11-02,NaN,1.0,1,-4.0,-4,2006-11-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,good,1.0,good,1.0,good,1.0,good,1.0,good,1.0,good,1.0,good,1.0,11/2/2006,-4,1.0,MOD - CD - PACS,good,0.0,-4.0,2006-11-02 00:00:00.0
1621,ADNI1,1.5T,3276,295,101,m12,m12,2007-05-29,NaN,1.0,1,-4.0,-4,2007-05-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,5/25/2007,-4,1.0,CD,-4,0.0,-4.0,2007-05-29 00:00:00.0
2944,ADNI1,1.5T,5934,295,101,m24,m24,2008-07-28,NaN,1.0,1,-4.0,-4,2008-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,7/23/2008,-4,1.0,467B MR#2,-4,0.0,-4.0,2008-07-28 00:00:00.0
3486,ADNI1,1.5T,7022,295,101,m36,m36,2009-05-11,NaN,1.0,1,-4.0,-4,2009-05-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,0.0,tech error,0.0,tech error,0.0,tech error,1.0,-4,1.0,5/7/2009,will rescan prior to LP on 5/22/09,1.0,CD,-4,0.0,-4.0,2009-05-11 00:00:00.0
3501,ADNI1,1.5T,7052,295,101,m36,m36,2009-05-26,NaN,2.0,1,-4.0,-4,2009-05-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,5/23/2009,-4,1.0,CD,-4,0.0,-4.0,2009-05-26 00:00:00.0
3868,ADNI1,1.5T,7786,295,101,m48,m48,2010-05-14,NaN,1.0,1,-4.0,-4,2010-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,5/14/2010,-4,1.0,CD,-4,0.0,-4.0,2010-05-14 00:00:00.0

# MRI Metadata Analysis - 3T

In [19]:
df_mri_3T = pd.read_csv("./data/MRI_3T_images_info.csv")
df_mri_3T.shape

(7200, 47)

In [20]:
df_mri_3T

,PHASE,FIELD_STRENGTH,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,RECNO,MMCONDCT,MMREASON,MMOTHSPE,EXAMDATE,SEDATIVE,EYEASK,EYEKEEP,MMSCOUT,MMSCTCOM,MMSMPRAGE,MMSMPCOM,MMRMPRAGE,MMRMPCOM,MMB1HEAD,MMB1HDCOM,MMB1BODY,MMB1BDCOM,MMECHO,MMECCOM,MMPHAN,MMPHCOM,MMTRNSFR,MMTRNDATE,MMTRNCOM,MMARCHIVE,MMARCMED,MMARCCOM,MMLPDONE,MMLPINTER,MALFUNC,MALFUNCDET,MOTION,MOTIONDET,OTRDEV,OTRDEVDET,FLDSTRNGTH,update_stamp
0,ADNI1,3T,2,30,11,bl,bl,2005-10-26,NaN,1.0,1,-4.0,-4,2005-10-26,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,10/26/2005,-4,1.0,CD-R,-4,0.0,-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-26 00:00:00.0
1,ADNI1,3T,4,31,11,bl,bl,2005-10-28,NaN,1.0,1,-4.0,-4,2005-10-28,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,0.0,10/30/2005,3T control room was occupied until late Friday...,1.0,CD-R,archived on 10/28/2005,1.0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-28 00:00:00.0
2,ADNI1,3T,6,15,4,bl,bl,2005-11-02,NaN,1.0,1,-4.0,-4,2005-10-31,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,0.0,-4,0.0,-4,1.0,-4,1.0,-4,1.0,11/1/2005,-4,1.0,disk,-4,1.0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-11-02 00:00:00.0
3,ADNI1,3T,8,29,32,bl,bl,2005-11-10,NaN,1.0,1,-4.0,-4,2005-11-08,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,0.0,11/10/2005,CD burner was down,1.0,Research PACS,-4,1.0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-11-10 00:00:00.0
4,ADNI1,3T,10,58,11,bl,bl,2005-12-12,NaN,1.0,1,-4.0,-4,2005-12-12,NaN,NaN,NaN,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,-4,1.0,12/12/2005,-4,1.0,CD-R,-4,0.0,-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-12-12 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,ADNI3,3T,126171,2392,43,y3,m108,2021-01-14,2021-01-14,NaN,1,NaN,NaN,2020-07-23,0.0,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2021-01-14,May have uploaded 8/3/2020 but re-uploaded today,1,CD,NaN,0.0,NaN,2.0,2021-01-15 04:16:20.0
7196,ADNI3,3T,126226,6063,43,y2,m24,2021-01-15,2021-01-15,NaN,1,NaN,NaN,2020-02-25,0.0,1.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2021-01-15,Not sure if went throug upload on 3/11/2020. D...,1,CD,NaN,1.0,6,2.0,2021-01-16 04:16:32.0
7197,ADNI3,3T,126327,6635,14,y2,m24,2021-01-19,2021-01-19,NaN,1,NaN,NaN,2021-01-15,0.0,1.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2021-01-19,NaN,1,CD,NaN,0.0,NaN,2.0,2021-01-20 04:16:43.0
7198,ADNI3,3T,126389,6845,62,y1,m12,2021-01-20,2021-01-20,NaN,1,NaN,NaN,2021-01-14,0.0,1.0,1.0,1.0,patient moved on multiple series,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2021-01-15,NaN,1,VUMC PACs,patient moved on multiple series. Due to the t...,0.0,NaN,2.0,2021-01-21 04:16:38.0
7199,ADNI3,3T,126469,4170,45,y3,m108,2021-01-22,2021-01-22,NaN,1,NaN,NaN,2020-10-07,0.0,1.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2020-10-xx,NaN,1,PACS and DVD,NaN,0.0,NaN,2.0,2021-01-23 04:16:18.0

In [48]:
# df_mri_3T.query("ID in @mprage_image_ids")
df_mri_3T.query("RID == 116")

Empty DataFrame
Columns: [PHASE, FIELD_STRENGTH, ID, RID, SITEID, VISCODE, VISCODE2, USERDATE, USERDATE2, RECNO, MMCONDCT, MMREASON, MMOTHSPE, EXAMDATE, SEDATIVE, EYEASK, EYEKEEP, MMSCOUT, MMSCTCOM, MMSMPRAGE, MMSMPCOM, MMRMPRAGE, MMRMPCOM, MMB1HEAD, MMB1HDCOM, MMB1BODY, MMB1BDCOM, MMECHO, MMECCOM, MMPHAN, MMPHCOM, MMTRNSFR, MMTRNDATE, MMTRNCOM, MMARCHIVE, MMARCMED, MMARCCOM, MMLPDONE, MMLPINTER, MALFUNC, MALFUNCDET, MOTION, MOTIONDET, OTRDEV, OTRDEVDET, FLDSTRNGTH, update_stamp]
Index: []