In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

# Analysing TADPOLE  files

In [2]:
df_tadpole_d1d2 = pd.read_csv('tadpole_challenge/TADPOLE_D1_D2.csv')
df_tadpole_d1d2.sort_values("RID",inplace=True)
df_tadpole_d1d2.shape

(12741, 1907)

In [3]:
df_tadpole_d1d2dict = pd.read_csv('tadpole_challenge/TADPOLE_D1_D2_Dict.csv')[["FLDNAME","TBLNAME","CRFNAME","TEXT","NOTES"]]
df_tadpole_d1d2dict.shape

(1918, 5)

In [4]:
import os
os.listdir()

['analysis.py',
 'ADNI1_Complete_1Yr_1.5T_1_23_2021.csv',
 'freesurfer-Linux-centos6_x86_64-stable-pub-v6.0.0.tar.gz',
 'analysis_mri_pet_metadata.ipynb',
 'tadpole_challenge',
 '01_initial_exploratory_data_analysis.ipynb',
 'MRIMETA.csv',
 '.ipynb_checkpoints',
 '.vscode']

In [7]:
participant_info_cols = ['RID', 'PTID', 'VISCODE', 'SITE', 'D1', 'D2', 'COLPROT', 'ORIGPROT', 'EXAMDATE', 'DX_bl', 'DXCHANGE', 'AGE', 'PTGENDER', 'PTEDUCAT', 'PTETHCAT', 'PTRACCAT', 'PTMARRY']
df_tadpole_participant = df_tadpole_d1d2[participant_info_cols]
df_tadpole_participant.head(15)

,RID,PTID,VISCODE,SITE,D1,D2,COLPROT,ORIGPROT,EXAMDATE,DX_bl,DXCHANGE,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY
0,2,011_S_0002,bl,11,1,1,ADNI1,ADNI1,2005-09-08,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
11959,2,011_S_0002,m120,11,1,1,ADNI2,ADNI1,2015-09-22,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
11571,2,011_S_0002,m108,11,1,1,ADNI2,ADNI1,2014-10-13,CN,NaN,74.3,Male,16,Not Hisp/Latino,White,Married
10836,2,011_S_0002,m102,11,1,1,ADNI2,ADNI1,2014-03-17,CN,NaN,74.3,Male,16,Not Hisp/Latino,White,Married
5731,2,011_S_0002,m96,11,1,1,ADNI2,ADNI1,2013-09-09,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
5730,2,011_S_0002,m90,11,1,1,ADNI2,ADNI1,2013-03-25,CN,NaN,74.3,Male,16,Not Hisp/Latino,White,Married
5729,2,011_S_0002,m84,11,1,1,ADNI2,ADNI1,2012-09-26,CN,4.0,74.3,Male,16,Not Hisp/Latino,White,Married
5728,2,011_S_0002,m78,11,1,1,ADNI2,ADNI1,2012-03-22,CN,NaN,74.3,Male,16,Not Hisp/Latino,White,Married
5726,2,011_S_0002,m66,11,1,1,ADNIGO,ADNI1,2011-03-04,CN,NaN,74.3,Male,16,Not Hisp/Latino,White,Married
5725,2,011_S_0002,m60,11,1,1,ADNIGO,ADNI1,2010-09-22,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
5724,2,011_S_0002,m36,11,1,1,ADNI1,ADNI1,2008-08-27,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
5723,2,011_S_0002,m06,11,1,1,ADNI1,ADNI1,2006-03-06,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
5727,2,011_S_0002,m72,11,1,1,ADNI2,ADNI1,2011-09-19,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
1,3,011_S_0003,bl,11,1,0,ADNI1,ADNI1,2005-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married
2,3,011_S_0003,m06,11,1,0,ADNI1,ADNI1,2006-03-13,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married

In [8]:
df_tadpole_d1d2dict

,FLDNAME,TBLNAME,CRFNAME,TEXT,NOTES
0,RID,ADNIMERGE,Key ADNI tables merged into one table,Participant roster ID,The 4 digit roster ID (RID) should be used to ...
1,PTID,ADNIMERGE,Key ADNI tables merged into one table,Participant ID,3 digit site number and 4 digit roster ID (RID...
2,VISCODE,ADNIMERGE,Key ADNI tables merged into one table,Visit code,-4.0
3,D1,,,Denotes whether participant belongs to dataset D1,
4,D2,,,Denotes whether participant belongs to dataset D2,
...,...,...,...,...,...
1913,RUNDATE_UPENNBIOMK9_04_19_17,UPENNBIOMK9,UPENN CSF Biomarkers Elecsys,Date of analytical run,NaN
1914,ABETA_UPENNBIOMK9_04_19_17,UPENNBIOMK9,UPENN CSF Biomarkers Elecsys,Result,NaN
1915,TAU_UPENNBIOMK9_04_19_17,UPENNBIOMK9,UPENN CSF Biomarkers Elecsys,Result,NaN
1916,PTAU_UPENNBIOMK9_04_19_17,UPENNBIOMK9,UPENN CSF Biomarkers Elecsys,Result,NaN
1917,COMMENT_UPENNBIOMK9_04_19_17,UPENNBIOMK9,UPENN CSF Biomarkers Elecsys,Comment,Extrapolated ABETA result

In [9]:
df_tadpole_d1d2dict.head(20)

,FLDNAME,TBLNAME,CRFNAME,TEXT,NOTES
0,RID,ADNIMERGE,Key ADNI tables merged into one table,Participant roster ID,The 4 digit roster ID (RID) should be used to ...
1,PTID,ADNIMERGE,Key ADNI tables merged into one table,Participant ID,3 digit site number and 4 digit roster ID (RID...
2,VISCODE,ADNIMERGE,Key ADNI tables merged into one table,Visit code,-4.0
3,D1,,,Denotes whether participant belongs to dataset D1,
4,D2,,,Denotes whether participant belongs to dataset D2,
5,DXCHANGE,,,"1=Stable:NL to NL, 2=Stable:MCI to MCI, 3=Stab...",
6,SITE,ADNIMERGE,Key ADNI tables merged into one table,Site,-4.0
7,COLPROT,ADNIMERGE,Key ADNI tables merged into one table,Protocol under which data was collected,-4.0
8,ORIGPROT,ADNIMERGE,Key ADNI tables merged into one table,Protocol from which subject originated,-4.0
9,EXAMDATE,ADNIMERGE,Key ADNI tables merged into one table,Examination Date,From registry table
10,DX_bl,ADNIMERGE,Key ADNI tables merged into one table,Baseline Dx,From studysum table
11,AGE,ADNIMERGE,Key ADNI tables merged into one table,Age at baseline,From ptdemog table
12,PTGENDER,ADNIMERGE,Key ADNI tables merged into one table,Sex,From ptdemog table
13,PTEDUCAT,ADNIMERGE,Key ADNI tables merged into one table,Education,From ptdemog table
14,PTETHCAT,ADNIMERGE,Key ADNI tables merged into one table,Ethnicity,From ptdemog table
15,PTRACCAT,ADNIMERGE,Key ADNI tables merged into one table,Race,From ptdemog table
16,PTMARRY,ADNIMERGE,Key ADNI tables merged into one table,Marital status at baseline,From ptdemog table
17,APOE4,ADNIMERGE,Key ADNI tables merged into one table,ApoE4,From apoe table
18,FDG,ADNIMERGE,Key ADNI tables merged into one table,"Average FDG-PET of angular, temporal, and post...",From ucberkeleyfdg table
19,PIB,ADNIMERGE,Key ADNI tables merged into one table,"Average PIB SUVR of frontal cortex, anterior c...",From pibpetsuvr table

In [10]:
df_tadpole_d1d2dict["NOTES"].iloc[0]

'The 4 digit roster ID (RID) should be used to merge data'

In [11]:
df_tadpole_d1d2dict["NOTES"].iloc[1]

"3 digit site number and 4 digit roster ID (RID) separated by '_S_'"

In [12]:
for col in df_tadpole_d1d2dict.columns:
    df_tadpole_d1d2dict[col] = df_tadpole_d1d2dict[col].str.upper()

In [13]:
df_tadpole_d1d2dict.fillna(' ',inplace = True)

# Alzheimer diagnosis classes

In [16]:
df_tadpole_participant['DX_bl'].unique()

array(['CN', 'AD', 'LMCI', 'EMCI', 'SMC'], dtype=object)

In [14]:
for diagnosis in df_tadpole_participant['DX_bl'].unique():
    registers = df_tadpole_participant.query("DX_bl == @diagnosis").shape[0]
    print(f"Number of participants with diagnosis {diagnosis}: {registers}")

Number of participants with diagnosis CN: 3821
Number of participants with diagnosis AD: 1568
Number of participants with diagnosis LMCI: 4644
Number of participants with diagnosis EMCI: 2319
Number of participants with diagnosis SMC: 389

In [15]:
for diagnosis in ["CN","MCI", "AD"]:
    if diagnosis == "CN":
        diags = ['CN','SMC']
    elif diagnosis == 'MCI':
        diags = ['LMCI','EMCI']
    else: diags = ['AD']
    registers = df_tadpole_participant.query("DX_bl == @diags").shape[0]
    print(f"Number of participants with diagnosis {diagnosis}: {registers}")

Number of participants with diagnosis CN: 4210
Number of participants with diagnosis MCI: 6963
Number of participants with diagnosis AD: 1568

# Image related columns

## MRI image columns

In [17]:
df_tadpole_d1d2dict.loc[df_tadpole_d1d2dict['FLDNAME'].str.contains("UID"),:]

,FLDNAME,TBLNAME,CRFNAME,TEXT,NOTES
95,LONIUID_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16,UCSFFSL,LONGITUDINAL FREESURFER (FREESURFER VERSION 4.4),THE LONI SERIES UID FOR THE IMAGE PROCESSED.,-4
96,IMAGEUID_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16,UCSFFSL,LONGITUDINAL FREESURFER (FREESURFER VERSION 4.4),THE IMAGEUID FOR THE IMAGE PROCESSED.,-4
470,LONIUID_UCSFFSX_11_02_15_UCSFFSX51_08_01_16,UCSFFSX,CROSS-SECTIONAL FREESURFER (FREESURFER VERSION...,THE LONI SERIES UID FOR THE IMAGE PROCESSED.,-4
471,IMAGEUID_UCSFFSX_11_02_15_UCSFFSX51_08_01_16,UCSFFSX,CROSS-SECTIONAL FREESURFER (FREESURFER VERSION...,THE IMAGEUID FOR THE IMAGE PROCESSED.,-4
835,LONIUID_BAIPETNMRC_09_12_16,BAIPETNMRC,BANNER ALZHEIMER'S INSTITUTE PET NMRC SUMMARIES,LONI UNIQUE IMAGE IDENTIFIER,THIS IS A LONGER DESCRIPTION IF NECESSARY.
1670,LONIUID_1_DTIROI_04_30_14,DTIROI,DTI ROI SUMMARY MEASURES,LONI IMAGE ID FOR FA,
1671,LONIUID_2_DTIROI_04_30_14,DTIROI,DTI ROI SUMMARY MEASURES,LONI IMAGE ID FOR MD,
1672,LONIUID_3_DTIROI_04_30_14,DTIROI,DTI ROI SUMMARY MEASURES,LONI IMAGE ID FOR RD,
1673,LONIUID_4_DTIROI_04_30_14,DTIROI,DTI ROI SUMMARY MEASURES,LONI IMAGE ID FOR AD,

In [18]:
mri_images_ids = ['IMAGEUID_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16','IMAGEUID_UCSFFSX_11_02_15_UCSFFSX51_08_01_16']

In [19]:
df_check_nulls = (df_tadpole_d1d2 != ' ')
df_mri = df_tadpole_d1d2[df_check_nulls[mri_images_ids].any(axis = 1)][participant_info_cols + mri_images_ids]
df_mri

,RID,PTID,VISCODE,SITE,D1,D2,COLPROT,ORIGPROT,EXAMDATE,DX_bl,DXCHANGE,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,IMAGEUID_UCSFFSL_02_01_16_UCSFFSL51ALL_08_01_16,IMAGEUID_UCSFFSX_11_02_15_UCSFFSX51_08_01_16
0,2,011_S_0002,bl,11,1,1,ADNI1,ADNI1,2005-09-08,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married,,35475
1,3,011_S_0003,bl,11,1,0,ADNI1,ADNI1,2005-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married,32237,32237
2,3,011_S_0003,m06,11,1,0,ADNI1,ADNI1,2006-03-13,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married,,31863
3,3,011_S_0003,m12,11,1,0,ADNI1,ADNI1,2006-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married,35576,35576
4,3,011_S_0003,m24,11,1,0,ADNI1,ADNI1,2007-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married,,88252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12276,5292,057_S_5292,m24,57,1,1,ADNI2,ADNI2,2015-11-19,SMC,1.0,74.3,Female,13,Not Hisp/Latino,White,Married,570688,570688
5588,5292,057_S_5292,bl,57,1,1,ADNI2,ADNI2,2013-11-12,SMC,1.0,74.3,Female,13,Not Hisp/Latino,White,Married,398341,398341
5587,5294,051_S_5294,bl,51,1,1,ADNI2,ADNI2,2013-11-25,SMC,1.0,68.5,Male,18,Not Hisp/Latino,White,Divorced,,398094
10802,5295,057_S_5295,bl,57,1,1,ADNI2,ADNI2,2013-12-11,SMC,1.0,75.5,Female,15,Not Hisp/Latino,White,Married,,402028
10804,5296,053_S_5296,bl,53,1,1,ADNI2,ADNI2,2013-12-18,SMC,1.0,69.3,Male,14,Not Hisp/Latino,White,Married,,416077

In [20]:
participants_with_mri = df_mri['PTID'].unique()
print('Patients with MRI images:' ,participants_with_mri.shape[0])
participants_with_mri

Patients with MRI images: 1735

array(['011_S_0002', '011_S_0003', '022_S_0004', ..., '051_S_5294',
       '057_S_5295', '053_S_5296'], dtype=object)

In [22]:
participants_with_mri_formatted_list = str(list(participants_with_mri)[:1500]).replace("'","").replace("[","").replace("]","")
# participants_with_mri_formatted_list

In [23]:
participants_with_mri_formatted_list = str(list(participants_with_mri)[1500:]).replace("'","").replace("[","").replace("]","")
# participants_with_mri_formatted_list

## PET images

In [24]:
# df_tadpole_d1d2dict.loc[df_tadpole_d1d2dict['FLDNAME'].str.contains("PET") & df_tadpole_d1d2dict['TEXT'].str.contains("IMAGE"),:]
df_tadpole_d1d2dict.loc[df_tadpole_d1d2dict['FLDNAME'].str.contains("PET") & df_tadpole_d1d2dict['TEXT'].str.contains("IMAGE"),:]

,FLDNAME,TBLNAME,CRFNAME,TEXT,NOTES
835,LONIUID_BAIPETNMRC_09_12_16,BAIPETNMRC,BANNER ALZHEIMER'S INSTITUTE PET NMRC SUMMARIES,LONI UNIQUE IMAGE IDENTIFIER,THIS IS A LONGER DESCRIPTION IF NECESSARY.

In [25]:
pet_images_ids = ['LONIUID_BAIPETNMRC_09_12_16']

In [26]:
df_tadpole_d1d2dict.loc[(df_tadpole_d1d2dict['TEXT'].str.contains("IMAGE")) & (~df_tadpole_d1d2dict['FLDNAME'].str.contains("UCSFF") ),:]

,FLDNAME,TBLNAME,CRFNAME,TEXT,NOTES
835,LONIUID_BAIPETNMRC_09_12_16,BAIPETNMRC,BANNER ALZHEIMER'S INSTITUTE PET NMRC SUMMARIES,LONI UNIQUE IMAGE IDENTIFIER,THIS IS A LONGER DESCRIPTION IF NECESSARY.
1670,LONIUID_1_DTIROI_04_30_14,DTIROI,DTI ROI SUMMARY MEASURES,LONI IMAGE ID FOR FA,
1671,LONIUID_2_DTIROI_04_30_14,DTIROI,DTI ROI SUMMARY MEASURES,LONI IMAGE ID FOR MD,
1672,LONIUID_3_DTIROI_04_30_14,DTIROI,DTI ROI SUMMARY MEASURES,LONI IMAGE ID FOR RD,
1673,LONIUID_4_DTIROI_04_30_14,DTIROI,DTI ROI SUMMARY MEASURES,LONI IMAGE ID FOR AD,

In [27]:
df_tadpole_d1d2dict.loc[(df_tadpole_d1d2dict['FLDNAME'].str.contains('UCBERK') ),:].head(10)

,FLDNAME,TBLNAME,CRFNAME,TEXT,NOTES
1172,FLDNAME_UCBERKELEYAV45_10_17_16,TBLNAME,CRFNAME,TEXT,NOTES
1173,RID_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,PARTICIPANT ROSTER ID,THE 4 DIGIT ROSTER ID (RID) SHOULD BE USED TO ...
1174,VISCODE_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,VISIT CODE,
1175,VISCODE2_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,TRANSLATED VISIT CODE,MONTHS FROM BASELINE ROUNDED TO NEAREST 6 MONTHS
1176,EXAMDATE_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,DATE OF AV45 SCAN,-4
1177,CEREBELLUMGREYMATTER_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,REFERENCE REGION - FLORBETAPIR MEAN OF CEREBEL...,-4
1178,WHOLECEREBELLUM_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,REFERENCE REGION - FLORBETAPIR MEAN OF WHOLE C...,-4
1179,ERODED_SUBCORTICALWM_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,REFERENCE REGION - FLORBETAPIR MEAN OF ERODED ...,-4
1180,COMPOSITE_REF_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,REFERENCE REGION - FLORBETAPIR MEAN OF COMPOSI...,-4
1181,FRONTAL_UCBERKELEYAV45_10_17_16,UCBERKELEYAV45,UC BERKELEY - AV45 ANALYSIS,WEIGHTED FLORBETAPIR MEAN IN FRONTAL REGIONS. ...,-4

In [28]:
df_tadpole_participant.loc[df_tadpole_d1d2['LONIUID_BAIPETNMRC_09_12_16'] != ' '].iloc[:10]

,RID,PTID,VISCODE,SITE,D1,D2,COLPROT,ORIGPROT,EXAMDATE,DX_bl,DXCHANGE,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY
0,2,011_S_0002,bl,11,1,1,ADNI1,ADNI1,2005-09-08,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
5723,2,011_S_0002,m06,11,1,1,ADNI1,ADNI1,2006-03-06,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married
1,3,011_S_0003,bl,11,1,0,ADNI1,ADNI1,2005-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married
2,3,011_S_0003,m06,11,1,0,ADNI1,ADNI1,2006-03-13,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married
3,3,011_S_0003,m12,11,1,0,ADNI1,ADNI1,2006-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married
4,3,011_S_0003,m24,11,1,0,ADNI1,ADNI1,2007-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married
12,5,011_S_0005,m12,11,1,0,ADNI1,ADNI1,2006-09-05,CN,1.0,73.7,Male,16,Not Hisp/Latino,White,Married
13,5,011_S_0005,m24,11,1,0,ADNI1,ADNI1,2007-09-07,CN,1.0,73.7,Male,16,Not Hisp/Latino,White,Married
10,5,011_S_0005,bl,11,1,0,ADNI1,ADNI1,2005-09-07,CN,1.0,73.7,Male,16,Not Hisp/Latino,White,Married
11,5,011_S_0005,m06,11,1,0,ADNI1,ADNI1,2006-03-09,CN,1.0,73.7,Male,16,Not Hisp/Latino,White,Married

In [29]:
pet_images_ids = ['EXAMDATE_UCBERKELEYAV45_10_17_16','LONIUID_BAIPETNMRC_09_12_16']
df_check_nulls = (df_tadpole_d1d2 != ' ')
df_pet = df_tadpole_d1d2[df_check_nulls[pet_images_ids].any(axis = 1)][participant_info_cols + pet_images_ids]
df_pet

,RID,PTID,VISCODE,SITE,D1,D2,COLPROT,ORIGPROT,EXAMDATE,DX_bl,DXCHANGE,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,EXAMDATE_UCBERKELEYAV45_10_17_16,LONIUID_BAIPETNMRC_09_12_16
0,2,011_S_0002,bl,11,1,1,ADNI1,ADNI1,2005-09-08,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married,,26812
5723,2,011_S_0002,m06,11,1,1,ADNI1,ADNI1,2006-03-06,CN,1.0,74.3,Male,16,Not Hisp/Latino,White,Married,,26808
1,3,011_S_0003,bl,11,1,0,ADNI1,ADNI1,2005-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married,,26854
2,3,011_S_0003,m06,11,1,0,ADNI1,ADNI1,2006-03-13,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married,,26850
3,3,011_S_0003,m12,11,1,0,ADNI1,ADNI1,2006-09-12,AD,3.0,81.3,Male,18,Not Hisp/Latino,White,Married,,26827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12556,5294,051_S_5294,m24,51,1,1,ADNI2,ADNI2,2016-05-19,SMC,1.0,68.5,Male,18,Not Hisp/Latino,White,Divorced,2016-05-12,
12277,5295,057_S_5295,m24,57,1,1,ADNI2,ADNI2,2015-12-08,SMC,1.0,75.5,Female,15,Not Hisp/Latino,White,Married,2015-12-01,580965
10802,5295,057_S_5295,bl,57,1,1,ADNI2,ADNI2,2013-12-11,SMC,1.0,75.5,Female,15,Not Hisp/Latino,White,Married,2014-04-15,420681
12302,5296,053_S_5296,m24,53,1,1,ADNI2,ADNI2,2015-12-17,SMC,1.0,69.3,Male,14,Not Hisp/Latino,White,Married,2015-12-17,589636
10804,5296,053_S_5296,bl,53,1,1,ADNI2,ADNI2,2013-12-18,SMC,1.0,69.3,Male,14,Not Hisp/Latino,White,Married,2013-12-18,403698

In [30]:
participants_with_pet = df_pet['PTID'].unique()
print('Patients with PET images:' ,participants_with_pet.shape[0])
# participants_with_pet

Patients with PET images: 1413

In [31]:
participants_with_pet_formatted_list = str(list(participants_with_pet)).replace("'","").replace("[","").replace("]","")
# participants_with_pet_formatted_list

In [32]:
participants_with_pet_and_mri = list(set(list(participants_with_pet)) & set(list(participants_with_mri)))
print('Participants with both PET and  MRI images:', len(participants_with_pet_and_mri))

Participants with both PET and MRI images: 1411