In [33]:
import os
import pandas as pd
import numpy as np

In [2]:
os.listdir('data')

['MRI_Baseline_and_Screenin_2_17_2021.csv',
 'MRI_MPRAGE.csv',
 'MRI_MPRAGE_AD.csv',
 'MRI_MPRAGE_CN_SMC.csv',
 'MRI_MPRAGE_MCI_LMCI_EMCI.csv']

# Analysing description (csv) for MRI Baseline and Screening Visits

In [11]:
df_mri_baseline = pd.read_csv("data/MRI_Baseline_and_Screenin_2_17_2021.csv").drop(['Downloaded','Modality'],axis=1)

In [12]:
df_mri_baseline.shape

(11564, 10)

## Total subjects in MRI_Baseline_and_Screenin_2_17_2021

In [13]:
df_mri_baseline['Subject'].unique().shape

(1810,)

In [14]:
df_mri_baseline['Acq Date'] = pd.to_datetime(df_mri_baseline['Acq Date'])
df_mri_baseline['Acq Date']
# format='%Y%m%d'

0       2017-07-20
1       2017-05-17
2       2013-05-29
3       2013-05-29
4       2013-04-09
           ...
11559   2006-04-18
11560   2006-04-18
11561   2006-04-18
11562   2011-06-02
11563   2006-04-18
Name: Acq Date, Length: 11564, dtype: datetime64[ns]

In [73]:
df_mri_baseline.query("Description.str.contains('MPR')").sort_values(['Subject','Acq Date','Image Data ID'])

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date,Format
11554,I118671,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; N3; Scaled_2,Processed,2006-04-18,NiFTI
11552,I387726,002_S_0295,CN,M,85,1,HHP 6 DOF AC-PC registered MPRAGE,Processed,2006-04-18,NiFTI
11556,I45106,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; Mask,Processed,2006-04-18,NiFTI
11563,I45107,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; N3,Processed,2006-04-18,NiFTI
11557,I45108,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,2006-04-18,NiFTI
...,...,...,...,...,...,...,...,...,...,...
38,I63899,941_S_1363,MCI,F,70,1,MPR; GradWarp,Processed,2007-03-12,NiFTI
34,I63900,941_S_1363,MCI,F,70,1,MPR-R; GradWarp; B1 Correction; Mask,Processed,2007-03-12,NiFTI
39,I63901,941_S_1363,MCI,F,70,1,MPR-R; GradWarp; B1 Correction; N3,Processed,2007-03-12,NiFTI
35,I63902,941_S_1363,MCI,F,70,1,MPR-R; GradWarp; B1 Correction,Processed,2007-03-12,NiFTI
40,I63903,941_S_1363,MCI,F,70,1,MPR-R; GradWarp,Processed,2007-03-12,NiFTI

In [89]:
df_mri_baseline.query("Description.str.contains('MT1') or Description.str.contains('MPR')",engine='python')#['Subject'].unique().shape

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date,Format
0,I882756,941_S_6052,MCI,F,88,1,MT1; N3m,Processed,2017-07-20,NiFTI
1,I882726,941_S_6017,MCI,M,77,1,MT1; N3m,Processed,2017-05-17,NiFTI
2,I375628,941_S_5193,SMC,F,73,22,MT1; GradWarp; N3m,Processed,2013-05-29,NiFTI
3,I375627,941_S_5193,SMC,F,73,22,MT1; GradWarp; N3m,Processed,2013-05-29,NiFTI
4,I368981,941_S_5124,SMC,F,77,22,MT1; GradWarp; N3m,Processed,2013-04-09,NiFTI
...,...,...,...,...,...,...,...,...,...,...
11558,I45110,002_S_0295,CN,M,85,1,MPR; GradWarp,Processed,2006-04-18,NiFTI
11560,I45112,002_S_0295,CN,M,85,1,MPR-R; GradWarp; B1 Correction; N3,Processed,2006-04-18,NiFTI
11561,I45114,002_S_0295,CN,M,85,1,MPR-R; GradWarp,Processed,2006-04-18,NiFTI
11562,I241350,002_S_0295,CN,M,90,26,MT1; N3m,Processed,2011-06-02,NiFTI
11563,I45107,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; N3,Processed,2006-04-18,NiFTI

# Analysing description (csv) for MRI MPRAGE images

In [3]:
os.listdir('data')

['MRI_Baseline_and_Screenin_2_17_2021.csv',
 'MRI_MPRAGE.csv',
 'MRI_MPRAGE_AD.csv',
 'MRI_MPRAGE_CN_SMC.csv',
 'MRI_MPRAGE_MCI_LMCI_EMCI.csv']

In [4]:
# df_mprage_cn = pd.read_csv("data/MRI_MPRAGE_CN_SMC.csv").drop(['Downloaded','Modality','Format'],axis=1)
# df_mprage_mci = pd.read_csv("data/MRI_MPRAGE_MCI_LMCI_EMCI.csv").drop(['Downloaded','Modality','Format'],axis=1)
# df_mprage_ad = pd.read_csv("data/MRI_MPRAGE_AD.csv").drop(['Downloaded','Modality','Format'],axis=1)
# df_mprage = pd.concat([df_mprage_ad,df_mprage_cn,df_mprage_mci])
# df_mprage['Acq Date'] = pd.to_datetime(df_mprage['Acq Date'])
# df_mprage.to_csv('data/MRI_MPRAGE.csv',index=False)

df_mprage = pd.read_csv("data/MRI_MPRAGE.csv")

In [5]:
df_mprage

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date
0,I254770,153_S_4172,AD,M,76,22,MT1; GradWarp; N3m,Processed,2011-08-17
1,I398400,153_S_4172,AD,M,78,30,MT1; GradWarp; N3m,Processed,2013-09-25
2,I297604,153_S_4172,AD,M,77,25,MT1; GradWarp; N3m,Processed,2012-03-28
3,I335938,153_S_4172,AD,M,77,28,MT1; GradWarp; N3m,Processed,2012-08-16
4,I272738,153_S_4172,AD,M,76,24,MT1; GradWarp; N3m,Processed,2011-10-31
...,...,...,...,...,...,...,...,...,...
12844,I474751,002_S_0729,MCI,F,68,8,HarP 135 final release 2015,Processed,2009-08-13
12845,I124007,002_S_0729,MCI,F,67,6,MPR; ; N3,Processed,2008-09-29
12846,I97014,002_S_0729,MCI,F,67,5,MPR; ; N3,Processed,2008-03-05
12847,I97016,002_S_0729,MCI,F,67,5,MPR; ; N3,Processed,2008-03-05
12848,I334105,002_S_0729,MCI,F,71,28,MT1; N3m,Processed,2012-08-07

In [6]:
df_mprage.sort_values(['Subject','Acq Date','Image Data ID']).head(50)

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date
5912,I241350,002_S_0295,CN,M,90,26,MT1; N3m,Processed,2011-06-02
5913,I308078,002_S_0295,CN,M,91,28,MT1; N3m,Processed,2012-05-10
5902,I128346,002_S_0413,CN,F,77,3,MPR; ; N3; Scaled_2,Processed,2006-11-15
5900,I40660,002_S_0413,CN,F,77,3,MPR; ; Mask,Processed,2006-11-15
5907,I40661,002_S_0413,CN,F,77,3,MPR; ; N3,Processed,2006-11-15
5901,I40670,002_S_0413,CN,F,77,3,MPR; ; Mask,Processed,2006-11-15
5908,I40671,002_S_0413,CN,F,77,3,MPR; ; N3,Processed,2006-11-15
5894,I64549,002_S_0413,CN,F,77,4,MPR; ; Mask,Processed,2007-06-01
5904,I64550,002_S_0413,CN,F,77,4,MPR; ; N3,Processed,2007-06-01
5897,I64551,002_S_0413,CN,F,77,4,MPR; ; N3; Scaled,Processed,2007-06-01
5895,I120744,002_S_0413,CN,F,79,6,MPR; ; Mask,Processed,2008-07-31
5905,I120745,002_S_0413,CN,F,79,6,MPR; ; N3,Processed,2008-07-31
5899,I120746,002_S_0413,CN,F,79,6,MPR; ; N3; Scaled,Processed,2008-07-31
5893,I149733,002_S_0413,CN,F,79,8,MPR; ; Mask,Processed,2009-04-30
5903,I149734,002_S_0413,CN,F,79,8,MPR; ; N3,Processed,2009-04-30
5896,I149735,002_S_0413,CN,F,79,8,MPR; ; N3; Scaled,Processed,2009-04-30
5909,I242895,002_S_0413,CN,F,82,26,MT1; N3m,Processed,2011-06-16
5910,I312701,002_S_0413,CN,F,82,28,MT1; N3m,Processed,2012-05-15
5906,I373133,002_S_0413,CN,F,83,30,MT1; N3m,Processed,2013-05-10
5911,I424741,002_S_0413,CN,F,84,32,MT1; N3m,Processed,2014-05-01
5898,I649030,002_S_0413,CN,F,85,34,MT1; N3m,Processed,2015-06-09
5891,I73322,002_S_0559,CN,M,80,3,MPR; ; Mask,Processed,2006-12-12
5883,I73323,002_S_0559,CN,M,80,3,MPR; ; N3,Processed,2006-12-12
5892,I73325,002_S_0559,CN,M,80,3,MPR-R; ; Mask,Processed,2006-12-12
5884,I73326,002_S_0559,CN,M,80,3,MPR-R; ; N3,Processed,2006-12-12
5878,I79123,002_S_0559,CN,M,80,3,MPR; ; N3; Scaled,Processed,2006-12-12
5880,I82098,002_S_0559,CN,M,81,4,MPR; ; Mask,Processed,2007-10-18
5889,I82099,002_S_0559,CN,M,81,4,MPR; ; N3,Processed,2007-10-18
5888,I120772,002_S_0559,CN,M,82,6,MPR; ; Mask,Processed,2008-08-15
5881,I120778,002_S_0559,CN,M,82,6,MPR; ; N3,Processed,2008-08-15
5890,I120779,002_S_0559,CN,M,82,6,MPR; ; N3; Scaled,Processed,2008-08-15
5885,I171085,002_S_0559,CN,M,82,8,MPR; ; Mask,Processed,2009-06-30
5879,I171086,002_S_0559,CN,M,82,8,MPR; ; N3,Processed,2009-06-30
5887,I171087,002_S_0559,CN,M,82,8,MPR; ; N3; Scaled,Processed,2009-06-30
5882,I387781,002_S_0559,CN,M,82,8,HHP 6 DOF AC-PC registered MPRAGE,Processed,2009-06-30
5886,I474785,002_S_0559,CN,M,82,8,HarP 135 final release 2015,Processed,2009-06-30
5877,I300264,002_S_0685,CN,F,95,26,MT1; N3m,Processed,2011-07-08
5876,I326600,002_S_0685,CN,F,96,28,MT1; N3m,Processed,2012-07-27
12827,I118668,002_S_0729,MCI,F,65,2,MPR; ; N3; Scaled_2,Processed,2006-08-02
12839,I40690,002_S_0729,MCI,F,65,2,MPR; ; Mask,Processed,2006-08-02
12828,I40691,002_S_0729,MCI,F,65,2,MPR; ; N3,Processed,2006-08-02
12841,I40692,002_S_0729,MCI,F,65,2,MPR; ; N3; Scaled,Processed,2006-08-02
12830,I40693,002_S_0729,MCI,F,65,2,MPR-R; ; Mask,Processed,2006-08-02
12843,I40705,002_S_0729,MCI,F,65,2,MPR-R; ; N3,Processed,2006-08-02
12826,I78661,002_S_0729,MCI,F,66,4,MPR; ; Mask,Processed,2007-09-05
12840,I78662,002_S_0729,MCI,F,66,4,MPR; ; N3,Processed,2007-09-05
12829,I78663,002_S_0729,MCI,F,66,4,MPR; ; N3; Scaled,Processed,2007-09-05
12832,I97013,002_S_0729,MCI,F,67,5,MPR; ; Mask,Processed,2008-03-05
12846,I97014,002_S_0729,MCI,F,67,5,MPR; ; N3,Processed,2008-03-05
12835,I97015,002_S_0729,MCI,F,67,5,MPR; ; Mask,Processed,2008-03-05

## Comparing patients in both dataframes

In [7]:
df_mprage.query("Subject == '002_S_0295'")

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date
5912,I241350,002_S_0295,CN,M,90,26,MT1; N3m,Processed,2011-06-02
5913,I308078,002_S_0295,CN,M,91,28,MT1; N3m,Processed,2012-05-10

In [15]:
df_mri_baseline.query("Subject == '002_S_0295'")

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date,Format
11550,I45109,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction,Processed,2006-04-18,NiFTI
11551,I45111,002_S_0295,CN,M,85,1,MPR-R; GradWarp; B1 Correction; Mask,Processed,2006-04-18,NiFTI
11552,I387726,002_S_0295,CN,M,85,1,HHP 6 DOF AC-PC registered MPRAGE,Processed,2006-04-18,NiFTI
11553,I45113,002_S_0295,CN,M,85,1,MPR-R; GradWarp; B1 Correction,Processed,2006-04-18,NiFTI
11554,I118671,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; N3; Scaled_2,Processed,2006-04-18,NiFTI
11555,I241351,002_S_0295,CN,M,90,26,MT1; N3m,Processed,2011-06-02,NiFTI
11556,I45106,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; Mask,Processed,2006-04-18,NiFTI
11557,I45108,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,2006-04-18,NiFTI
11558,I45110,002_S_0295,CN,M,85,1,MPR; GradWarp,Processed,2006-04-18,NiFTI
11559,I474728,002_S_0295,CN,M,85,1,HarP 135 final release 2015,Processed,2006-04-18,NiFTI
11560,I45112,002_S_0295,CN,M,85,1,MPR-R; GradWarp; B1 Correction; N3,Processed,2006-04-18,NiFTI
11561,I45114,002_S_0295,CN,M,85,1,MPR-R; GradWarp,Processed,2006-04-18,NiFTI
11562,I241350,002_S_0295,CN,M,90,26,MT1; N3m,Processed,2011-06-02,NiFTI
11563,I45107,002_S_0295,CN,M,85,1,MPR; GradWarp; B1 Correction; N3,Processed,2006-04-18,NiFTI

# Selecting only one image per patient

In [16]:
df_mprage = df_mprage.sort_values(['Subject','Acq Date','Image Data ID'])
df_mprage

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date
5912,I241350,002_S_0295,CN,M,90,26,MT1; N3m,Processed,2011-06-02
5913,I308078,002_S_0295,CN,M,91,28,MT1; N3m,Processed,2012-05-10
5902,I128346,002_S_0413,CN,F,77,3,MPR; ; N3; Scaled_2,Processed,2006-11-15
5900,I40660,002_S_0413,CN,F,77,3,MPR; ; Mask,Processed,2006-11-15
5907,I40661,002_S_0413,CN,F,77,3,MPR; ; N3,Processed,2006-11-15
...,...,...,...,...,...,...,...,...,...
2019,I431781,941_S_5124,SMC,F,78,28,MT1; GradWarp; N3m,Processed,2014-04-21
2021,I729735,941_S_5124,SMC,F,79,30,MT1; GradWarp; N3m,Processed,2015-04-08
2017,I375627,941_S_5193,SMC,F,73,22,MT1; GradWarp; N3m,Processed,2013-05-29
2016,I388033,941_S_5193,SMC,F,73,24,MT1; GradWarp; N3m,Processed,2013-08-19
2015,I729725,941_S_5193,SMC,F,74,30,MT1; GradWarp; N3m,Processed,2015-04-02

In [17]:
df_mprage.groupby("Subject").count().sort_values("Sex")

            Image Data ID  Group  Sex  Age  Visit  Description  Type  Acq Date
Subject
013_S_4236              1      1    1    1      1            1     1         1
073_S_4748              1      1    1    1      1            1     1         1
073_S_4995              1      1    1    1      1            1     1         1
073_S_5016              1      1    1    1      1            1     1         1
073_S_5090              1      1    1    1      1            1     1         1
...                   ...    ...  ...  ...    ...          ...   ...       ...
023_S_0061             64     64   64   64     64           64    64        64
023_S_0604             65     65   65   65     65           65    65        65
023_S_0376             68     68   68   68     68           68    68        68
023_S_0388             68     68   68   68     68           68    68        68
023_S_0331             78     78   78   78     78           78    78        78

[1226 rows x 8 columns]

In [18]:
df_mprage.query("Subject == '023_S_0331'")

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date
10926,I118975,023_S_0331,MCI,F,65,1,MPR; GradWarp; B1 Correction; N3; Scaled_2,Processed,2006-03-23
10944,I31358,023_S_0331,MCI,F,65,1,MPR; GradWarp; B1 Correction; Mask,Processed,2006-03-23
10909,I31368,023_S_0331,MCI,F,65,1,MPR; GradWarp; B1 Correction; N3,Processed,2006-03-23
10947,I31369,023_S_0331,MCI,F,65,1,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,2006-03-23
10914,I31374,023_S_0331,MCI,F,65,1,MPR; GradWarp; B1 Correction,Processed,2006-03-23
...,...,...,...,...,...,...,...,...,...
10971,I332462,023_S_0331,MCI,F,69,10,MT1; GradWarp; N3m,Processed,2010-05-05
10959,I294799,023_S_0331,MCI,F,70,26,MT1; GradWarp; N3m,Processed,2011-05-04
10936,I332495,023_S_0331,MCI,F,71,28,MT1; GradWarp; N3m,Processed,2012-06-07
10929,I370022,023_S_0331,MCI,F,72,30,MT1; GradWarp; N3m,Processed,2013-04-10
10899,I434271,023_S_0331,MCI,F,73,32,MT1; GradWarp; N3m,Processed,2014-04-03

In [19]:
df_mprage.query("Subject == '002_S_0413'")

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Type,Acq Date
5902,I128346,002_S_0413,CN,F,77,3,MPR; ; N3; Scaled_2,Processed,2006-11-15
5900,I40660,002_S_0413,CN,F,77,3,MPR; ; Mask,Processed,2006-11-15
5907,I40661,002_S_0413,CN,F,77,3,MPR; ; N3,Processed,2006-11-15
5901,I40670,002_S_0413,CN,F,77,3,MPR; ; Mask,Processed,2006-11-15
5908,I40671,002_S_0413,CN,F,77,3,MPR; ; N3,Processed,2006-11-15
5894,I64549,002_S_0413,CN,F,77,4,MPR; ; Mask,Processed,2007-06-01
5904,I64550,002_S_0413,CN,F,77,4,MPR; ; N3,Processed,2007-06-01
5897,I64551,002_S_0413,CN,F,77,4,MPR; ; N3; Scaled,Processed,2007-06-01
5895,I120744,002_S_0413,CN,F,79,6,MPR; ; Mask,Processed,2008-07-31
5905,I120745,002_S_0413,CN,F,79,6,MPR; ; N3,Processed,2008-07-31
5899,I120746,002_S_0413,CN,F,79,6,MPR; ; N3; Scaled,Processed,2008-07-31
5893,I149733,002_S_0413,CN,F,79,8,MPR; ; Mask,Processed,2009-04-30
5903,I149734,002_S_0413,CN,F,79,8,MPR; ; N3,Processed,2009-04-30
5896,I149735,002_S_0413,CN,F,79,8,MPR; ; N3; Scaled,Processed,2009-04-30
5909,I242895,002_S_0413,CN,F,82,26,MT1; N3m,Processed,2011-06-16
5910,I312701,002_S_0413,CN,F,82,28,MT1; N3m,Processed,2012-05-15
5906,I373133,002_S_0413,CN,F,83,30,MT1; N3m,Processed,2013-05-10
5911,I424741,002_S_0413,CN,F,84,32,MT1; N3m,Processed,2014-05-01
5898,I649030,002_S_0413,CN,F,85,34,MT1; N3m,Processed,2015-06-09

In [20]:
df_mprage_subjects = df_mprage.groupby("Subject").first().reset_index()
df_mprage_subjects

,Subject,Image Data ID,Group,Sex,Age,Visit,Description,Type,Acq Date
0,002_S_0295,I241350,CN,M,90,26,MT1; N3m,Processed,2011-06-02
1,002_S_0413,I128346,CN,F,77,3,MPR; ; N3; Scaled_2,Processed,2006-11-15
2,002_S_0559,I73322,CN,M,80,3,MPR; ; Mask,Processed,2006-12-12
3,002_S_0685,I300264,CN,F,95,26,MT1; N3m,Processed,2011-07-08
4,002_S_0729,I118668,MCI,F,65,2,MPR; ; N3; Scaled_2,Processed,2006-08-02
...,...,...,...,...,...,...,...,...,...
1221,941_S_4377,I275760,LMCI,F,69,22,MT1; GradWarp; N3m,Processed,2012-01-04
1222,941_S_4420,I294867,EMCI,M,81,22,MT1; GradWarp; N3m,Processed,2012-03-28
1223,941_S_4764,I312638,EMCI,F,83,22,MT1; GradWarp; N3m,Processed,2012-06-01
1224,941_S_5124,I368981,SMC,F,77,22,MT1; GradWarp; N3m,Processed,2013-04-09
1225,941_S_5193,I375627,SMC,F,73,22,MT1; GradWarp; N3m,Processed,2013-05-29

In [58]:
df_mprage_subjects['Image Data ID'] = df_mprage_subjects['Image Data ID'].str.replace("I","")

In [59]:
df_mprage_subjects.head(10)

,Subject,Image Data ID,Group,Sex,Age,Visit,Description,Type,Acq Date
0,002_S_0295,241350,CN,M,90,26,MT1; N3m,Processed,2011-06-02
1,002_S_0413,128346,CN,F,77,3,MPR; ; N3; Scaled_2,Processed,2006-11-15
2,002_S_0559,73322,CN,M,80,3,MPR; ; Mask,Processed,2006-12-12
3,002_S_0685,300264,CN,F,95,26,MT1; N3m,Processed,2011-07-08
4,002_S_0729,118668,MCI,F,65,2,MPR; ; N3; Scaled_2,Processed,2006-08-02
5,002_S_0816,118684,AD,M,71,2,MPR; ; N3; Scaled_2,Processed,2006-09-29
6,002_S_0954,118694,MCI,F,70,2,MPR; ; N3; Scaled_2,Processed,2006-11-08
7,002_S_1018,40824,AD,F,71,2,MPR; ; Mask,Processed,2006-12-18
8,002_S_1070,40838,MCI,M,74,2,MPR; ; Mask,Processed,2006-12-18
9,002_S_1155,281853,MCI,M,63,26,MT1; N3m,Processed,2011-12-22

In [48]:
subjects = df_mprage_subjects.shape[0]
subjects

1226

In [66]:
chunks = int(np.ceil(subjects/50))
chunks

25

In [65]:
max_count = len(range(0,subjects,chunks))
for count,i in enumerate(range(0,subjects,chunks)):
    print(f"Images to download: {count+1}/{max_count}")
    print(df_mprage_subjects.iloc[i:i+chunks]['Image Data ID'].str.replace("I","").tolist())
    print("-------------------------------")

Images to download: 1/50
['241350', '128346', '73322', '300264', '118668', '118684', '118694', '40824', '40838', '281853', '65559', '65264', '65863', '221959', '222697', '222705', '250649', '255409', '258694', '258686', '260229', '260237', '260241', '261069', '261067']
-------------------------------
Images to download: 2/50
['261073', '280562', '285129', '286639', '297035', '312646', '312847', '349888', '374467', '379928', '384094', '387732', '387733', '387734', '52770', '73500', '387735', '387736', '412381', '387737', '387738', '764998', '398108', '250657', '250637']
-------------------------------
Images to download: 3/50
['260245', '267757', '270043', '270050', '280570', '283929', '283956', '295949', '312648', '306760', '322531', '340498', '369218', '338650', '727838', '272824', '222736', '236978', '272728', '267745', '272772', '272700', '285480', '431819', '290967']
-------------------------------
Images to download: 4/50
['295885', '312755', '315320', '335416', '339153', '349550', '353184', '358355', '414458', '432901', '432910', '414460', '414462', '65573', '118705', '119024', '118703', '118702', '118707', '118704', '248671', '283940', '285157', '377155', '35470']
-------------------------------
Images to download: 5/50
['32231', '32240', '32249', '32268', '32304', '32330', '32370', '32400', '35480', '35489', '32001', '32015', '32023', '32025', '32027', '35511', '35589', '62633', '286683', '241381', '431749', '248611', '258684', '260231', '263685']
-------------------------------
Images to download: 6/50
['267763', '296413', '315322', '321232', '335396', '331853', '327035', '337435', '118736', '118739', '118740', '118743', '118744', '118716', '118719', '118715', '118717', '118718', '118741', '118729', '118738', '118742', '118746', '118745', '248646']
-------------------------------
Images to download: 7/50
['241356', '296415', '250623', '258662', '291049', '300944', '300513', '321316', '351339', '364667', '374561', '377881', '384096', '51145', '54662', '51136', '51154', '387756', '62643', '51531', '51181', '51163', '51492', '51483', '62653']
-------------------------------
Images to download: 8/50
['51540', '62663', '387757', '225559', '299280', '263687', '265254', '280662', '297648', '297655', '300287', '300289', '312668', '321306', '338588', '331857', '352005', '362973', '369614', '377079', '222749', '222751', '241346', '238666', '241390']
-------------------------------
Images to download: 9/50
['242899', '242900', '296282', '261065', '267747', '270063', '290963', '293681', '295883', '300955', '92667', '96219', '40770', '51513', '40779', '48865', '387791', '40797', '101405', '46381', '96228', '86043', '95613', '387759', '62237']
-------------------------------
Images to download: 10/50
['119794', '119795', '119796', '118827', '119797', '119798', '119799', '119800', '118783', '118777', '118773', '35022', '139889', '35027', '35037', '118761', '222775', '222777', '222779', '222781', '263738', '270069', '267767', '272814', '274508']
-------------------------------
Images to download: 11/50
['300508', '305601', '306751', '312861', '321264', '326529', '362983', '384090', '388409', '388025', '297290', '297292', '297294', '272652', '281432', '288881', '300946', '300948', '321304', '349820', '349866', '374565', '379548', '64044', '387760']
-------------------------------
Images to download: 12/50
['60671', '60616', '60661', '300260', '337444', '369385', '377764', '33483', '82160', '64625', '59364', '59373', '59395', '59443', '59454', '59482', '59522', '59531', '59541', '64670', '59550', '59570', '86641', '87021', '222825']
-------------------------------
Images to download: 13/50
['222841', '222851', '236970', '241800', '258657', '417074', '267771', '270056', '283918', '285472', '321453', '337554', '349822', '118750', '118843', '31078', '108504', '31096', '51994', '118869', '118874', '31200', '118969', '31265', '118971']
-------------------------------
Images to download: 14/50
['31340', '118975', '118976', '118853', '118875', '119027', '31489', '118985', '118988', '118879', '118892', '118903', '46390', '48844', '124869', '118919', '118994', '118923', '118925', '118927', '222458', '233460', '241370', '248665', '255419']
-------------------------------
Images to download: 15/50
['254783', '254819', '283936', '267751', '281430', '293685', '290953', '326638', '374612', '388415', '222916', '241394', '254754', '254748', '255407', '258623', '263676', '275417', '295887', '300950', '326594', '353186', '391092', '34166', '34184']
-------------------------------
Images to download: 16/50
['34193', '34211', '35650', '47175', '47184', '47235', '65372', '47729', '439320', '122672', '138786', '90914', '90923', '222937', '222947', '222954', '222973', '228527', '232862', '229343', '232860', '235655', '235659', '250647', '258680']
-------------------------------
Images to download: 17/50
['258666', '258660', '281434', '281841', '283922', '291927', '305613', '340502', '119077', '124904', '119080', '119084', '119087', '119090', '119102', '119105', '119112', '119114', '119116', '119118', '222998', '223008', '223011', '263730', '265197']
-------------------------------
Images to download: 18/50
['267781', '273518', '274506', '314561', '322260', '335406', '388431', '398319', '119124', '119129', '119131', '119133', '42484', '42500', '42516', '42792', '42808', '42835', '51596', '51616', '391094', '392131', '254779', '363272', '363274']
-------------------------------
Images to download: 19/50
['363276', '370737', '363278', '377083', '379955', '388433', '45163', '45181', '39531', '39540', '39567', '45211', '39599', '62905', '223013', '223015', '223017', '223019', '296308', '296310', '248632', '272818', '291903', '281845', '291896']
-------------------------------
Images to download: 20/50
['315324', '313649', '377163', '68511', '36912', '36922', '36936', '36947', '36957', '36967', '38649', '36977', '36987', '36997', '65089', '38659', '65098', '65107', '65116', '238655', '241348', '272716', '274667', '283932', '290955']
-------------------------------
Images to download: 21/50
['297891', '432422', '305484', '312653', '371245', '322288', '322303', '326520', '342433', '358062', '371899', '371248', '377052', '384098', '388447', '388449', '448290', '64114', '420269', '358064', '427836', '79778', '351390', '138822', '351960']
-------------------------------
Images to download: 22/50
['79937', '223021', '297310', '228531', '229326', '234654', '296313', '255435', '258627', '263752', '286641', '280574', '274518', '283930', '305482', '314559', '322292', '335394', '414488', '414490', '414492', '35669', '124895', '39477', '34678']
-------------------------------
Images to download: 23/50
['34687', '40171', '39493', '40035', '40044', '40053', '34696', '65218', '65228', '65237', '65246', '62931', '80159', '72217', '73636', '79621', '72226', '73354', '79630', '229337', '229335', '238644', '238651', '241798', '241342']
-------------------------------
Images to download: 24/50
['241802', '248650', '248677', '260243', '261081', '273511', '273513', '283920', '305455', '285452', '296425', '300952', '308100', '322301', '326580', '334044', '342430', '342390', '415949', '363334', '363336', '371403', '371416', '371434', '371441']
-------------------------------
Images to download: 25/50
['373199', '377026', '382256', '388460', '58032', '58009', '58041', '62940', '58019', '64150', '57997', '337439', '349583', '349824', '398096', '401939', '398094', '119148', '357960', '229333', '248669', '291000', '291936', '308047', '322469']
-------------------------------
Images to download: 26/50
['357854', '376832', '377879', '388027', '391059', '416077', '34705', '34714', '34723', '80623', '121429', '38658', '34732', '34741', '34750', '47763', '62981', '69490', '68543', '62991', '63001', '63011', '248625', '296316', '50423']
-------------------------------
Images to download: 27/50
['50457', '50466', '50485', '50504', '50522', '50540', '50551', '50564', '50573', '50582', '119178', '66034', '38706', '119180', '119182', '35882', '119186', '119188', '119190', '68114', '119209', '35927', '119195', '119196', '34813']
-------------------------------
Images to download: 28/50
['119198', '34831', '34840', '119202', '119203', '38724', '119205', '63089', '55027', '296317', '223044', '223055', '223058', '223061', '238653', '296321', '248628', '255433', '255421', '265199', '312636', '312678', '322519', '337565', '371250']
-------------------------------
Images to download: 29/50
['374643', '377885', '382254', '915501', '764965', '498019', '223063', '223065', '223067', '223069', '223073', '223075', '223077', '225398', '225403', '241364', '241366', '248663', '254775', '255437', '261077', '267769', '270045', '274671', '286646']
-------------------------------
Images to download: 30/50
['322529', '334118', '363362', '374660', '382249', '305605', '845647', '306756', '313662', '314555', '322550', '351376', '119223', '64955', '119226', '223219', '223240', '222683', '223251', '223259', '223263', '223267', '223271', '223279', '300515']
-------------------------------
Images to download: 31/50
['241377', '241403', '248636', '248634', '248648', '255405', '258717', '272712', '272714', '277671', '275763', '280556', '283938', '285484', '286083', '296336', '296300', '296327', '296329', '312749', '322625', '326503', '340527', '377166', '387761']
-------------------------------
Images to download: 32/50
['119229', '119230', '119231', '119232', '119233', '119234', '49462', '63095', '119235', '63097', '63099', '223283', '223287', '223291', '223297', '223326', '223345', '248679', '254822', '258631', '261063', '263689', '263680', '263682', '267765']
-------------------------------
Images to download: 33/50
['267773', '270031', '270054', '274669', '285131', '285488', '288879', '291929', '308102', '312670', '315318', '312686', '312680', '315370', '322646', '339187', '350255', '349543', '421245', '363221', '377168', '389155', '95647', '119238', '119240']
-------------------------------
Images to download: 34/50
['39764', '107888', '109531', '387815', '123242', '80878', '123756', '223357', '223362', '223367', '241401', '255417', '258690', '263728', '267749', '274514', '349694', '414450', '432912', '374699', '388019', '387866', '391070', '272760', '34601']
-------------------------------
Images to download: 35/50
['35815', '35823', '35831', '35839', '35847', '34522', '34535', '34544', '34561', '38768', '38780', '34573', '34581', '68579', '34589', '47951', '102032', '300278', '296532', '223458', '223462', '229339', '296345', '296347', '296349']
-------------------------------
Images to download: 36/50
['248667', '254781', '260235', '261079', '283954', '283926', '286093', '291051', '295863', '350327', '414371', '424731', '766479', '236967', '290965', '290957', '300298', '305408', '362884', '351546', '362911', '362900', '371986', '371988', '369381']
-------------------------------
Images to download: 37/50
['387889', '389161', '119258', '82583', '119259', '97194', '119260', '119262', '119264', '119263', '119265', '119266', '63496', '66174', '39736', '96315', '49733', '39762', '95686', '39788', '39830', '39839', '39848', '39857', '49755']
-------------------------------
Images to download: 38/50
['49908', '49765', '242885', '281847', '280917', '352008', '389165', '53799', '53808', '59671', '63506', '63515', '67246', '53830', '53839', '223485', '228507', '236974', '242878', '258635', '254787', '255413', '254785', '254813', '267741']
-------------------------------
Images to download: 39/50
['281425', '281407', '286637', '296584', '296402', '312655', '322343', '326508', '91106', '119268', '119269', '165341', '225427', '229341', '248656', '250621', '254811', '270052', '285119', '312845', '312849', '335975', '119365', '119367', '119368']
-------------------------------
Images to download: 40/50
['119370', '119372', '119374', '80786', '90581', '68716', '119382', '119384', '119386', '68887', '119391', '68933', '119396', '69688', '69062', '119408', '119409', '119410', '90612', '69116', '94656', '223497', '223503', '223507', '223509']
-------------------------------
Images to download: 41/50
['223513', '223515', '223519', '223521', '223523', '223525', '225593', '286635', '290959', '312674', '291878', '296810', '295859', '296406', '295861', '300250', '305440', '312658', '312672', '312736', '312864', '312843', '322932', '322939', '358509']
-------------------------------
Images to download: 42/50
['382247', '339147', '299333', '438118', '340523', '349593', '351544', '322943', '351440', '321310', '848307', '234666', '297599', '260239', '414448', '261071', '270027', '267761', '270018', '280550', '280552', '280572', '283934', '400998', '291894']
-------------------------------
Images to download: 43/50
['294875', '296408', '300302', '308045', '322951', '326532', '340500', '350510', '349785', '350508', '349560', '414602', '351548', '362848', '432883', '414452', '414454', '414456', '376955', '376957', '119481', '119487', '119504', '119511', '119521']
-------------------------------
Images to download: 44/50
['119528', '51082', '51089', '119611', '40957', '119635', '40007', '119647', '119653', '263683', '263754', '267753', '272692', '280558', '283942', '290940', '291884', '297888', '300297', '305422', '305478', '305615', '305621', '322957', '337552']
-------------------------------
Images to download: 45/50
['349914', '377193', '384808', '388923', '388925', '338652', '370255', '258682', '265203', '281843', '280564', '295879', '312682', '312684', '334095', '349353', '375873', '350463', '349804', '305443', '337453', '338594', '337467', '357731', '353188']
-------------------------------
Images to download: 46/50
['357752', '258692', '258688', '261075', '265267', '265269', '267777', '270058', '281889', '285903', '296355', '288887', '300252', '291882', '296410', '305433', '305446', '300256', '305449', '312660', '326526', '326584', '322345', '388927', '47859']
-------------------------------
Images to download: 47/50
['82730', '91229', '98882', '94785', '47078', '91251', '47112', '47868', '47709', '112290', '48570', '47700', '95702', '47746', '47710', '47720', '47730', '48579', '48588', '64433', '92644', '48597', '48606', '91301', '222640']
-------------------------------
Images to download: 48/50
['225435', '238647', '258664', '260223', '274512', '277041', '277669', '280560', '305539', '312866', '322992', '334124', '342384', '223530', '223535', '296357', '248630', '248654', '250661', '254777', '254764', '254766', '254770', '265201', '270067']
-------------------------------
Images to download: 49/50
['295881', '323002', '384092', '384777', '63845', '63858', '66460', '63868', '63877', '63886', '97330', '63895', '223539', '236982', '241396', '248626', '258653', '261061', '272646', '270042', '300498', '275760', '294867', '312638', '368981']
-------------------------------
Images to download: 50/50
['375627']
-------------------------------

In [27]:
df_mprage_subjects.iloc[:110]['Image Data ID'].str.replace("I","").astype(int).tolist()

[241350,
 128346,
 73322,
 300264,
 118668,
 118684,
 118694,
 40824,
 40838,
 281853,
 65559,
 65264,
 65863,
 221959,
 222697,
 222705,
 250649,
 255409,
 258694,
 258686,
 260229,
 260237,
 260241,
 261069,
 261067,
 261073,
 280562,
 285129,
 286639,
 297035,
 312646,
 312847,
 349888,
 374467,
 379928,
 384094,
 387732,
 387733,
 387734,
 52770,
 73500,
 387735,
 387736,
 412381,
 387737,
 387738,
 764998,
 398108,
 250657,
 250637,
 260245,
 267757,
 270043,
 270050,
 280570,
 283929,
 283956,
 295949,
 312648,
 306760,
 322531,
 340498,
 369218,
 338650,
 727838,
 272824,
 222736,
 236978,
 272728,
 267745,
 272772,
 272700,
 285480,
 431819,
 290967,
 295885,
 312755,
 315320,
 335416,
 339153,
 349550,
 353184,
 358355,
 414458,
 432901,
 432910,
 414460,
 414462,
 65573,
 118705,
 119024,
 118703,
 118702,
 118707,
 118704,
 248671,
 283940,
 285157,
 377155,
 35470,
 32231,
 32240,
 32249,
 32268,
 32304,
 32330,
 32370,
 32400,
 35480,
 35489]